@media (max-width: 980px) {
  .main {
    width: 620px;
    height: 100vh;
  }
  .nav-bar {
    position: fixed;
    font-size: 10px;
    height: 5vh;
    width: 100%;
  }
  .nav-bar .menu ul .lm a {
    margin-right: 0;
  }
  .nav-bar .logo a img {
    display: none;
  }
  .nav-bar .menu {
    margin-left: 180px;
  }
  .main .banner .image {
    top: 17%;
    opacity: 0.3;
  }
  .last-banner {
    margin-top: 100px;
    width: 620px;
  }
  .last-banner .triangle1 {
    display: none;
  }
  .last-banner .triangle2 {
    display: none;
  }
  .last-banner .texts h2 {
    font-size: 15px;
    margin-top: -20px;
    text-align: left;
    width: 90%;
  }
  .last-banner .texts p {
    font-size: 10px;
    text-align: left;
    left: 23%;
  }
  .copyright {
    width: 620px;
  }
  .copyright p {
    font-size: 10px;
  }
}
